<ion-card>
    <ion-card-header>
        <ion-card-title> your turfs:</ion-card-title>
    </ion-card-header>
    <ion-card-content>

        <ion-card>
            <ion-card-header>
                <ion-card-header> Turf 1 </ion-card-header>
            </ion-card-header>
            
            <ion-card-content>
                <ion-icon name="beer"></ion-icon>
                <ion-label> Cola </ion-label> <br>               
            </ion-card-content>
                        
            <ion-card-content>
                <ion-icon name="basket-outline"></ion-icon>
                <ion-label> 4 </ion-label> <br>               
            </ion-card-content>
                        
            <ion-card-content>
                <ion-icon name="pricetag-outline"></ion-icon>
                <ion-label> 13,5$ </ion-label> <br>               
            </ion-card-content>

        </ion-card>

        
    </ion-card-content>
</ion-card>